<div class="container" style="text-align:center;">
  <div class="col-lg-7 col-sm-10 col-xs-12 col-centered">
      <div style="height: 350px; width:100%; background-color: white;">
          <img style="height: 100%; width:100%; border-left: 1px solid #576d91; border-right: 1px solid #576d91; border-top: 1px solid #576d91;" src="../../assets/bag.png">
      </div>    
      <div class="btn-pref btn-group btn-group-justified btn-group-md" role="group" aria-label="...">
          <div class="btn-group" role="group">
              <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <div class="hidden-xs">Información</div>
              </button>
          </div>
          <div class=" btn-group" role="group">
              <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  <div class="hidden-xs">Agregar Producto</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <div class="hidden-xs">Diario</div>
              </button>
          </div>
      </div>
      
      <div class="well">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
          <h3><strong>Datos de Usuario:</strong></h3>
            <div class="row row-centered">
              <div class="col-md-6">
                <h5><strong>Nombre:</strong></h5>
                <h5><strong>Apodo:</strong></h5>
                <h5><strong>Email:</strong></h5>
              </div>
              <div class="col-md-6">
                <h5>{{user.nombre}}</h5>
                <h5>{{user.username}}</h5>
                <h5>{{user.email}}</h5>
              </div>
            </div>
            
          </div>
          <div class="tab-pane fade in" id="tab2">
          <h3><strong>Datos del producto a agregar:</strong></h3>
          <br>
            <form id="form_id" [formGroup]="product_form" (ngSubmit)="new_product()" ngNativeValidate>
            <div class="row row-centered">
                <div class="col-md-12">
                  <input type="text" class="form-control" formControlName="nombre" minlenght="1" maxlenght="25" placeholder="Nombre del producto" required>
                  <br>
                  <input type="number" class="form-control" formControlName="precio" placeholder="Precio del producto" required>
                  <br>
                  <input type="url" class="form-control" formControlName="foto" placeholder="Link a la imagen del producto" required>
                  <br>
                  <select formControlName="idCategoria" class="form-control" required> 
                    <option value="1" selected>Celulares</option>
                    <option value="2">Videojuegos</option>
                    <option value="3">Deportes</option>
                  </select>
                  <br>
                  <textarea style="resize: vertical;" maxlenght="200" formControlName="descripcion" class="form-control" form="form_id" placeholder="Descripcion del producto" required></textarea>
                  <br>
                  <input type="submit" class="btn btn-success btn-lg" value="Crear">
                </div>
            </div>
            </form>
          </div>
          <div class="tab-pane fade in" id="tab3">
              <h5 *ngIf="coments.length < 1; else coments_val" >Actualmente no tienes ninguna entrada en tu diario, ¡empieza a crear una!</h5>
              <ng-template #coments_val>
                <div *ngFor="let c of coments">
                  <h5>Creado por <strong>{{ user.username }}</strong>:</h5>
                  <textarea style="resize: none;" maxlenght="200" name="descripcion" class="form-control"readonly >{{ c.cuerpo }}</textarea>
                  <br>
                </div>
              </ng-template>
            <br>
            <h3><strong>Agregar nueva entrada</strong></h3>
            <form [formGroup]="comment_form" (ngSubmit)="new_comment()" ngNativeValidate>
               <textarea style="resize: vertical;" maxlenght="200" formControlName="cuerpo" class="form-control" form="form_comment" placeholder="Cuerpo del nuevo comentario" required></textarea>
               <br>
               <input type="submit" class="btn btn-success" value="Agregar">
            </form>
          </div>
        </div>
      </div>
  </div>
</div>