<div class="container">
	<div class="row row-centered">
		<div *ngIf="servicio.search.length > 0; else noProducts">	
			<br>
			<br>
 			<a *ngFor="let p of servicio.search"  >
		        <div class="col-xs-8 col-sm-6 col-lg-4 col-md-6">
		        	<div class="thumbnail product" >

		            	<div style='height:200px' [routerLink]="['/product', p.id]">
			                <img src="{{p.foto}}" style='height:100%; width:100%;' alt="">
		                </div>
		                <div class="caption">
		                    <h4 class="pull-right">$ {{p.precio}}</h4>
		                    <h4 class="text-left">{{p.nombre}}</h4>
							<p class="text-left">{{p.descripcion}}</p>
		              
		                </div>
		            </div>
		        </div>
		    </a>
 		</div>
 		<ng-template #noProducts>
			<h2 style="color:white;">No hay productos que coincidan con esa busqueda</h2>
			<img style="height: 20%; width: 20%;" src="../../assets/question.png" alt="">
		</ng-template>
	
			
	</div>
</div>
    