<div class="container">
	<div class="row row-centered">
		
		
		<div *ngIf="products != null else noProducts">	
			<h2 style="color: white;">PRODUCTOS EN EL CARRO DE: <strong>{{user.username}}</strong></h2>
			<br>
			<br>
 			<a *ngFor="let p of products"  >
		        <div class="col-xs-8 col-sm-6 col-lg-4 col-md-6">
		        	<div class="thumbnail product" >

		            	<div style='height:200px' [routerLink]="['/product', p.id]">
			                <img src="{{p.foto}}" style='height:100%; width:100%;' alt="">
		                </div>
		                <div class="caption">
		                    <h4 class="pull-right">$ {{p.precio}}</h4>
		                    <h4 class="text-left">{{p.nombre}}</h4>
							<p class="text-left">{{p.descripcion}}</p>
		                    <button class="delete-to-cart btn btn-default btn-sm" (click)="delete_from_cart(p.id)"> Eliminar <span class="glyphicon glyphicon-shopping-cart"></span></button>
		                </div>
		            </div>
		        </div>
		    </a>
		    <div class="col-sm-12 col-lg-12 col-md-12" style="margin-top:5%;">
		    	<h3 style="color:white;">SUBTOTAL A PAGAR: <strong>$ {{subtotal}}</strong></h3>
		    	<br>
		    	<button class="btn btn-success btn-lg" [routerLink]="['/checkout']">CONFIRMAR COMPRA</button>
		    	<br>
		    	<br>
		    </div>
 		</div>

 		<ng-template #noProducts>
			<h2 style="color:white;">No posees productos en el carrito actualmente</h2>
			<img src="../../assets/triste.png" alt="">
		</ng-template>
	
			
	</div>
</div>
    