<div class="container">
	<div class="row row-centered">
		<h2 style="color: white;">PRODUCTOS EN EL CARRO DE: <strong>APODO</strong></h2>
		<br>
		<br>
		<a href="#">
	        <div class="col-xs-8 col-sm-6 col-lg-4 col-md-6">
	        	<div class="thumbnail product">
	            	<div style='height:200px'>
		                <img src="http://placehold.it/320x150" style='height:100%; width:100%;' alt="">
	                </div>
	                <div class="caption">
	                    <h4 class="pull-right">$ 30.0</h4>
	                    <h4>PRODUCTO NOMBRE</h4>
						<p>DECRIPCION</p>
	                    <button class="delete-to-cart btn btn-default btn-sm"> Eliminar <span class="glyphicon glyphicon-shopping-cart"></span></button>
	                </div>
	            </div>
	        </div>
	    </a>
	    <div class="col-sm-12 col-lg-12 col-md-12" style="margin-top:5%;">
	    	<h3 style="color:white;">SUBTOTAL A PAGAR: <strong>$ 100.0</strong></h3>
	    	<br>
	    	<button class="btn btn-success btn-lg">CONFIRMAR COMPRA</button>
	    	<br>
	    	<br>
	    </div>
	</div>
</div>
    