<div class="row">
        <a href="#">
	        <div class="col-xs-12 col-sm-6 col-lg-4 col-md-6">
	            <div class="thumbnail product">
	            	<div style='height:200px'>
		                <img src="http://placehold.it/320x150" style='height:100%; width:100%;' alt="">
	                </div>
	                <div class="caption">
	                    <h4>0.0 $</h4>
	                    <h4>Nombre Producto</h4>
	                   	<p>Descripcion Producto</p>
	                </div>
	            </div>
	        </div>
    	</a>

    	 <a href="#">
	        <div class="col-xs-12 col-sm-6 col-lg-4 col-md-6 col-centered">
	            <div class="thumbnail product">
	            	<div style='height:200px'>
		                <img src="http://placehold.it/320x150" style='height:100%; width:100%;' alt="">
	                </div>
	                <div class="caption">
	                    <h4>0.0 $</h4>
	                    <h4>Nombre Producto</h4>
	                   	<p>Descripcion Producto</p>
	                </div>
	            </div>
	        </div>
    	</a>

    	<a href="#">
	        <div class="col-xs-12 col-sm-6 col-lg-4 col-md-6">
	            <div class="thumbnail product">
	            	<div style='height:200px'>
		                <img src="http://placehold.it/320x150" style='height:100%; width:100%;' alt="">
	                </div>
	                <div class="caption">
	                    <h4>0.0 $</h4>
	                    <h4>Nombre Producto</h4>
	                   	<p>Descripcion Producto</p>
	                </div>
	            </div>
	        </div>
    	</a>
</div>