<p style="color:white;">Categorías:</p>
<div class="list-group">
    <a href="#" (click)="refresh()" class="list-group-item">Celulares</a>
    <a href="#" (click)="refresh()" class="list-group-item">Videojuegos</a>
    <a href="#" (click)="refresh()" class="list-group-item">Deportes</a>
</div>

<p style="color:white;">Ordena:</p>
<div class="list-group">
	<a href="#" (click)="refresh()" class="list-group-item">Alfabeticamente</a>
   	<a href="#" (click)="refresh()" class="list-group-item">Precio</a>
</div>