<div class="container">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<div class="preview col-md-6">
					<div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
                <img src={{product.foto}} class="img-responsive">
            </div>
					</div>
				</div>
				<div class="details col-md-6">
					<h3 class="product-title">{{product.nombre}}</h3>
					<div class="rating">
						<div class="stars">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<span class="review-no">{{product.cantVendida}} producto(s) vendido(s)</span>
					</div>
					<h4 class="price">Descripción del producto:</h4>
					<p class="product-description">{{product.descripcion}}</p>
					<h4 class="price">precio: <span>$ {{product.precio}}</span></h4>
					<div class="action">
							<div *ngIf="servicio.tokenize.is_valid;">	
					 			<button *ngIf="!is_in" class="add-to-cart btn btn-default" (click)="add_to_cart()"> Anadir <span class="glyphicon glyphicon-shopping-cart"></span></button>
					 			<button *ngIf="is_in" class="delete-to-cart btn btn-default" (click)="delete_from_cart()"> Eliminar <span class="glyphicon glyphicon-shopping-cart"></span></button>
					 			<button class="edit-product btn btn-default" [routerLink]="['/update_product', this.id]"> Editar <span class="glyphicon glyphicon-edit"></span></button>
					 			<button class="delete-product btn btn-default" (click)="delete_product()"> Eliminar <span class="glyphicon glyphicon-trash"></span></button>
					 		</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>